## Objective : As per given columns ,predict income of a person

## Description :

  ### Number of Attributes
  #### 6 continuous, 8 nominal attributes.

  ### Attribute Information:
 age: continuous.
 workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
 
 fnlwgt: continuous.
 
 education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool
 
education-num: continuous.

 marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
 occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
 
 relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
 
 race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black. 
 
 sex: Female, Male.
 
 capital-gain: continuous.
 
 capital-loss: continuous.
 
 hours-per-week: continuous.
 
 native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
 
 class: >50K, <=50K

### Missing Attribute Values:
7% have missing values.

### Class Distribution:
 Probability for the label '>50K' : 23.93% / 24.78% (without unknowns)
 Probability for the label '<=50K' : 76.07% / 75.22% (without unknowns)

# Step:-1

## Importing all the libraries

In [78]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder,StandardScaler,MinMaxScaler
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

## Missing Values

In [2]:

missing=['?','-']
df_data=pd.read_csv('adultIn.csv',na_values=missing)
df_data

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
df_data.isnull().sum()

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [5]:
df_data.dropna(axis=0,inplace=True)

# Step:-2 

## Data Preparation

In [4]:
# droping the column
df_data.drop(['fnlwgt'],axis=1,inplace=True)

In [71]:
#extracting columns consisting numeric values
df_num=df_data.select_dtypes(include='number')
df_num.head()

   age  educational-num  capital-gain  capital-loss  hours-per-week
0   25                7             0             0              40
1   38                9             0             0              50
2   28               12             0             0              40
3   44               10          7688             0              40
5   34                6             0             0              30

In [72]:
#extract columns consisting categorial values
df_cat=df_data.select_dtypes(include='object')
df_cat.head()

,workclass,education,marital-status,occupation,relationship,race,gender,native-country,income
0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K
1,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K
2,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K
3,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
5,Private,10th,Never-married,Other-service,Not-in-family,White,Male,United-States,<=50K

In [73]:
# Standarizing numerical data
scale=StandardScaler()
df_ss=pd.DataFrame(scale.fit_transform(df_num),columns=df_num.columns)
df_ss.head()

        age  educational-num  capital-gain  capital-loss  hours-per-week
0 -1.024983        -1.221559     -0.146733      -0.21878       -0.078120
1 -0.041455        -0.438122     -0.146733      -0.21878        0.754701
2 -0.798015         0.737034     -0.146733      -0.21878       -0.078120
3  0.412481        -0.046403      0.877467      -0.21878       -0.078120
4 -0.344079        -1.613277     -0.146733      -0.21878       -0.910942

In [74]:
# encoding categorical features
ohe = OneHotEncoder(drop='first', sparse=False)
df_ohe=pd.DataFrame(ohe.fit_transform(df_cat),columns=ohe.get_feature_names(df_cat.columns))
df_ohe.head()

,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_11th,education_12th,education_1st-4th,education_5th-6th,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,income_>50K
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [75]:
#concatinating both numeric and categorial columns
df=pd.concat([df_ss,df_ohe],axis=1)
pd.set_option('display.max_rows',100)
df

,age,educational-num,capital-gain,capital-loss,hours-per-week,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,income_>50K
0,-1.024983,-1.221559,-0.146733,-0.21878,-0.078120,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,-0.041455,-0.438122,-0.146733,-0.21878,0.754701,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,-0.798015,0.737034,-0.146733,-0.21878,-0.078120,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.412481,-0.046403,0.877467,-0.21878,-0.078120,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,-0.344079,-1.613277,-0.146733,-0.21878,-0.910942,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,-0.873671,0.737034,-0.146733,-0.21878,-0.244684,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
45218,0.109857,-0.438122,-0.146733,-0.21878,-0.078120,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
45219,1.471665,-0.438122,-0.146733,-0.21878,-0.078120,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
45220,-1.251951,-0.438122,-0.146733,-0.21878,-1.743763,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
45221,1.017729,-0.438122,1.854773,-0.21878,-0.078120,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [76]:
# setting features and labels
y=df.pop('income_>50K')
x=df

In [77]:
#Train-test Split
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size=0.2)

# Step:-3,4 and 5

## 1-Traning the model
## 2-Predict on test data
## 3-Evaluate model

In [79]:
# using logistic regression bcoz of classification problem
lr=LogisticRegression(max_iter=500)
lr.fit(xtrain,ytrain)
y_pred=lr.predict(xtest)
metrics.accuracy_score(ytest,y_pred)

0.846951185803527

In [21]:
confusion=metrics.confusion_matrix(ytest,y_pred)
confusion

array([[25225,  2018],
       [ 3540,  5395]], dtype=int64)

In [22]:
print(metrics.classification_report(ytest,y_pred))

              precision    recall  f1-score   support

         0.0       0.88      0.93      0.90     27243
         1.0       0.73      0.60      0.66      8935

    accuracy                           0.85     36178
   macro avg       0.80      0.76      0.78     36178
weighted avg       0.84      0.85      0.84     36178

# Step:-6

## RFE

In [24]:
from sklearn.feature_selection import RFE
rfe=RFE(lr,5)
rfe=rfe.fit(xtrain,ytrain)

In [25]:
temp_df=pd.DataFrame({'Columns':xtrain.columns,'Included':rfe.support_,'Ranking':rfe.ranking_})
temp_df

                                      Columns  Included  Ranking
0                                         age     False       50
1                             educational-num     False        7
2                                capital-gain      True        1
3                                capital-loss     False       56
4                              hours-per-week     False       49
5                         workclass_Local-gov     False       32
6                           workclass_Private     False       33
7                      workclass_Self-emp-inc     False       84
8                  workclass_Self-emp-not-inc     False       30
9                         workclass_State-gov     False       31
10                      workclass_Without-pay     False       63
11                             education_11th     False       88
12                             education_12th     False       76
13                          education_1st-4th     False       87
14                          education_5th-6th     False       11
15                          education_7th-8th     False       78
16                              education_9th     False       47
17                       education_Assoc-acdm     False       73
18                        education_Assoc-voc     False       77
19                        education_Bachelors     False       90
20                        education_Doctorate     False       65
21                          education_HS-grad     False       79
22                          education_Masters     False       51
23                        education_Preschool     False       86
24                      education_Prof-school     False       19
25                     education_Some-college     False       68
26           marital-status_Married-AF-spouse      True        1
27          marital-status_Married-civ-spouse      True        1
28       marital-status_Married-spouse-absent     False       40
29               marital-status_Never-married     False       15
30                   marital-status_Separated     False       38
31                     marital-status_Widowed     False       80
32                    occupation_Armed-Forces     False       71
33                    occupation_Craft-repair     False       82
34                 occupation_Exec-managerial     False       18
35                 occupation_Farming-fishing     False        8
36               occupation_Handlers-cleaners      True        1
37               occupation_Machine-op-inspct     False       28
38                   occupation_Other-service     False        2
39                 occupation_Priv-house-serv     False        4
40                  occupation_Prof-specialty     False       41
41                 occupation_Protective-serv     False       81
42                           occupation_Sales     False       59
43                    occupation_Tech-support     False       60
44                occupation_Transport-moving     False       83
45                 relationship_Not-in-family     False       69
46                relationship_Other-relative     False       34
47                     relationship_Own-child      True        1
48                     relationship_Unmarried     False       70
49                          relationship_Wife     False       12
50                    race_Asian-Pac-Islander     False       22
51                                 race_Black     False       24
52                                 race_Other     False       25
53                                 race_White     False       23
54                                gender_Male     False       13
55                      native-country_Canada     False       35
56                       native-country_China     False        6
57                    native-country_Columbia     False        3
58                        native-country_Cuba     False       29
59          native-country_Dominican-Republic     False       74
60                     native-country_Ecuador     False       16
61                 native-country_El-Salvador     False       14
62                     native-country_England     False       27
63                      native-country_France     False       39
64                     native-country_Germany     False       55
65                      native-country_Greece     False       10
66                   native-country_Guatemala     False       26
67                       native-country_Haiti     False        9
68          native-country_Holand-Netherlands     False       91
69                    native-country_Honduras     False       52
70                        native-country_Hong     False       66
71                     native-country_Hungary     False       67
72                       native-country_India     False       45
73                        native-country_Iran     False       42
74                     native-country_Ireland     False       54
75                       native-country_Italy     False       43
76                     native-country_Jamaica     False       46
77                       native-country_Japan     False       57
78                        native-country_Laos     False       17
79                      native-country_Mexico     False       58
80                   native-country_Nicaragua     False       48
81  native-country_Outlying-US(Guam-USVI-etc)     False       72
82                        native-country_Peru     False       89
83                 native-country_Philippines     False       37
84                      native-country_Poland     False       36
85                    native-country_Portugal     False       20
86                 native-country_Puerto-Rico     False       75
87                    native-country_Scotland     False       21
88                       native-country_South     False       44
89                      native-country_Taiwan     False       62
90                    native-country_Thailand     False       61
91             native-country_Trinadad&Tobago     False       53
92               native-country_United-States     False       85
93                     native-country_Vietnam     False       64
94                  native-country_Yugoslavia     False        5

In [27]:
imp_column=xtrain.columns[rfe.support_]
imp_column

Index(['capital-gain', 'marital-status_Married-AF-spouse',
       'marital-status_Married-civ-spouse', 'occupation_Handlers-cleaners',
       'relationship_Own-child'],
      dtype='object')

In [30]:
x_train_rfe=xtrain[imp_column]
x_train_rfe.head()

,capital-gain,marital-status_Married-AF-spouse,marital-status_Married-civ-spouse,occupation_Handlers-cleaners,relationship_Own-child
43544,-0.146733,0.0,1.0,0.0,0.0
11885,-0.146733,0.0,0.0,0.0,0.0
33368,-0.146733,0.0,1.0,0.0,0.0
4784,-0.146733,0.0,1.0,0.0,0.0
28,-0.146733,0.0,1.0,0.0,0.0

In [31]:
lr_rfe=LogisticRegression(max_iter=500)
lr_rfe.fit(x_train_rfe,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
x_test_rfe=xtest[imp_column]
y_pred_rfe=lr_rfe.predict(x_test_rfe)

In [34]:
metrics.accuracy_score(ytest,y_pred_rfe)

0.7904251202388192

# Step:-7

## PCA

In [35]:
from sklearn.decomposition import PCA
pca=PCA()

In [36]:
pca.fit(df)

PCA(copy=True, iterated_power='auto', n_components=None, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [43]:

pca_1=PCA(n_components=35)
x_train_pca=pca_1.fit_transform(xtrain)

In [45]:

lr_new=LogisticRegression(max_iter=500)
lr_new.fit(x_train_pca,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [70]:

x_test_pca=pca_1.fit_transform(xtest)
y_pred_pca=lr_new.predict(x_test_pca)
metrics.accuracy_score(ytest,y_pred_pca)

0.811874619934767

In [53]:
# using knn
knn=KNeighborsClassifier()
knn.fit(x_train_pca, ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [68]:
y_pca_pred=knn.predict(x_test_pca)
metrics.accuracy_score(ytest,y_pca_pred)

0.8112388744540882

In [81]:
#classifiation report of DT using 35 columns
print(metrics.classification_report(ytest,y_pca_pred))

              precision    recall  f1-score   support

         0.0       0.75      0.77      0.76     27237
         1.0       0.25      0.24      0.24      8941

    accuracy                           0.64     36178
   macro avg       0.50      0.50      0.50     36178
weighted avg       0.63      0.64      0.63     36178

In [58]:
# using svm
svm=SVC()
svm.fit(x_train_pca,ytrain)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [69]:
y_pca_pred_1=svm.predict(x_test_pca)
metrics.accuracy_score(ytest,y_pca_pred_1)

0.8172646359666096

In [82]:
#classifiation report of DT using 35 columns
print(metrics.classification_report(ytest,y_pca_pred_1))

              precision    recall  f1-score   support

         0.0       0.76      0.79      0.77     27237
         1.0       0.26      0.22      0.24      8941

    accuracy                           0.65     36178
   macro avg       0.51      0.50      0.50     36178
weighted avg       0.63      0.65      0.64     36178

In [80]:
# using decision tree
dt=DecisionTreeClassifier()
dt.fit(x_train_pca,ytrain)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [67]:
y_pca_pred_2=dt.predict(x_test_pca)
metrics.accuracy_score(ytest,y_pca_pred_2)

0.7621206257946819

In [83]:
#classifiation report of DT using 35 columns
print(metrics.classification_report(ytest,y_pca_pred_2))

              precision    recall  f1-score   support

         0.0       0.75      0.76      0.76     27237
         1.0       0.25      0.25      0.25      8941

    accuracy                           0.63     36178
   macro avg       0.50      0.50      0.50     36178
weighted avg       0.63      0.63      0.63     36178